.axis text {
	font: 10px sans-serif;
}

.axis line,
.axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.legend {
	font-size: 13px;
}

h1 {
	font-size: 15px;
	text-align: center;
}

rect {
	stroke-width: 2;
}

.label {
	font-weight: 600;
}

.tooltip {
	position: absolute;
	padding: 10px;
	height: auto;
	line-height: 20px;
	font-family: "微软雅黑";
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-width: 1px;
	background-color: rgba(0, 0, 0, .9);
	border-radius: 5px;
}
.clearfix {
	*zoom: 1;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}
.box-picture .picture-2,
.box-picture .picture-3 {
	width: 600px;
	height: 573px;
}

.box-picture .picture-2 .picture-warming,
.box-picture .picture-3 .picture-sector {
	width: 600px;
	height: 573px;
	margin-bottom: 30px;
	overflow: hidden
}
.n
{
 font-family: arial;
 color: #65799b;
 font-size: 70px;
 text-align: left;
 background-color: #EEEEEE;
}
.mytitle {
	width: 1500px;
	height: 110px;
	font-size:65px;
	color:#65799b;
	line-height: 110px;
	padding-left: 30px;
	margin: 0 auto;
	background-color: #EEEEEE;
	box-sizing: border-box;
}

.theplaner {
	width: 1500px;
	height: 200px;
	font-size: 20px;
	color: #FFF;
	padding-left: 5px;
	margin: 0 auto;
	background-color:#65799b;
	box-sizing: border-box;
}
.d3-tip {
line-height: 1;
font-weight: bold;
padding: 12px;
background: rgba(0, 0, 0, 0.8);
color: #fff;
border-radius: 2px;
}

.d3-tip:after {
box-sizing: border-box;
display: inline;
font-size: 10px;
width: 100%;
line-height: 1;
color: rgba(0, 0, 0, 0.8);
content: "\25BC";
position: absolute;
text-align: center;
}

.d3-tip.n:after {
margin: -1px 0 0 0;
top: 100%;
left: 0;
}
